* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem;
}

.details {
  margin-left: 2rem;
  line-height: 2.3rem;
}

.details p {
  color: cyan;
  font-size: 1.2rem;
}

.details a {
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;
}

.braces {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
